@using RetailSystem.Shared.ViewModels
@{
    ViewData["Title"] = "Shop";
}

@model ProductIndexViewModel

<section class="trending-product section" style="margin-top: 12px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Product</h2>
                    <p>Feel free to shopping, Feel happy to experience</p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.Items)
            {
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Product -->
                    <div class="single-product laptop-card">
                        <div class="product-image text-center">
                            <img src="@item.ImageUrl" alt="Laptop">

                            <div class="button">
                                <button onclick="addToCart(@item.Id)" class="btn">
                                    Add to Cart
                                </button>
                            </div>
                        </div>

                        <div class="product-info">
                            <!-- Title -->
                            <h4 class="title">
                                <a asp-controller="Product"
                                   asp-action="Detail"
                                   asp-route-id="@item.Id">
                                    @item.Name
                                </a>
                            </h4>

                            <!-- Specs -->
                            <div class="specs">
                                <div><i class="bi bi-cpu"></i> @item.ChipSet </div>
                                <div><i class="bi bi-memory"></i> @item.RAM</div>
                                <div><i class="bi bi-hdd"></i> @item.SSD</div>
                            </div>

                            <!-- Price -->
                            <div class="price">
                                <span class="new-price">@item.PriceFormatted </span>
                            </div>


                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
            }
        </div>

        <div class="row">
            <div class="col-12 text-center mt-4">

                <!-- PREV -->
                @if (Model.Page > 1)
                {
                    <a href="@Url.Action("Index", new { page = Model.Page - 1 })"
                       class="btn btn-sm btn-outline-primary">
                        « Prev
                    </a>
                }
                else
                {
                    <span class="btn btn-sm btn-outline-secondary disabled">
                        « Prev
                    </span>
                }

                <!-- PAGE -->
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <a href="@Url.Action("Index", new { page = i })"
                       class="btn btn-sm @(i == Model.Page ? "btn-primary" : "btn-outline-primary")">
                        @i
                    </a>
                }

                <!-- NEXT -->
                @if (Model.Page < Model.TotalPages)
                {
                    <a href="@Url.Action("Index", new { page = Model.Page + 1 })"
                       class="btn btn-sm btn-outline-primary">
                        Next »
                    </a>
                }
                else
                {
                    <span class="btn btn-sm btn-outline-secondary disabled">
                        Next »
                    </span>
                }

            </div>
        </div>
    </div>
</section>
